{% extends 'tdashbase.html.twig' %}

{% block title %}Exam - MyExamSpace.Com{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('Css/dashboard.css') }}">
{% endblock %}

{% block map_content %}

    <div class = "here" ></div>
 
    <ul>
        <li class="boton"><span class="glyphicon glyphicon-th-large glypha"></span>
        <br><a href="{{ path('teacher_dashboard') }}">Dashboard</a></li>

        <li class="boton activa"><span class="glyphicon glyphicon-book glyph"></span>
        <br><a href="#">Exam</a></li>

        <li class="boton"><span class="glyphicon glyphicon-list-alt glypha"></span>
        <br><a href="#">Results</a></li>

        <li class="boton"><span class="glyphicon glyphicon-phone glypha"></span>
        <br><a href="#">Data</a></li>

        <li class="boton"><span class="glyphicon glyphicon-user glypha"></span>
        <br><a href="{{ path('teacher_account') }}"> MyAccount </a></li>
    </ul>

    <a href="#" id="logout"><span class="glyphicon glyphicon-log-out glypha"></span>    Logout</a>
   
{% endblock %}

{% block content %}
<p style="color:black;"> my account </p>
{% endblock %}
