


        <h4>General Remarks & Promotion Status</h4>
        <table class="table table-bordered">
            <tr>
                <td><strong>Class Teacher’s Comment:</strong> {{ class_teacher_comment|default('N/A') }}</td>
            </tr>
            <tr>
                <td><strong>Principal’s Comment:</strong> {{ principal_comment|default('N/A') }}</td>
            </tr>
            <tr>
                <td><strong>Next Term Begins:</strong> {{ next_term|default('N/A') }}</td>
                <td><strong>Promotion Status:</strong> {{ promotion_status|default('N/A') }}</td>
            </tr>
        </table>





