{% extends 'base.html.twig' %}

{% block title %}Teacher Login - MyExamSpace.Com{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </style>
{% endblock %}

{% block auth %}

<div class="loginform">
    <h1  id="who">Teacher Login</h1>

      <form action="{{ path('teacher_login') }}" method="post">
        <div class="form-group">
            <label for="username">Full name</label>
            <input type="text" id="username" name="_username" class="form-control signup">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" class="form-control signup">
        </div>
        <input type="submit" value="Login" class="btn btn-primary space">
    </form>
</div>
{% endblock %}

{% block pp %}
    <div class="imgcontainer">
        <img src="{{ asset('images/teacher.jfif') }}" alt="teacher Image" class="img">
    </div>
{% endblock %}