<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyExamSpace.Com{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% block stylesheets %}
       
    {% endblock %}
</head>
    <body>
    <main>
        {% block body %}
        <div class="logincontainer">
            <div id="auth">
            <div class="logo2"></div>

                {% block auth %}
                
                {% endblock %}
            </div>
            <div id="pp">
                {% block pp %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </main>
    {% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>

